<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuxc.www.dao.IProductDao">
	<select id="findAll" resultType="product">
		SELECT * FROM T_PRODUCT
	</select>

	<select id="findOne" resultType="product" parameterType="long">
		SELECT * FROM T_PRODUCT WHERE ID=#{id}
	</select>
	
	<select id="findOneLock" resultType="product" parameterType="long">
		SELECT * FROM t_product where ID=#{id} for update
	</select>

	<update id="update" parameterType="product">
		UPDATE T_PRODUCT SET NUM=NUM-1 WHERE ID=#{id}
	</update>
	
	<update id="updateLocak" parameterType="product">
		UPDATE T_PRODUCT SET NUM=NUM-1, VERSION=VERSION+1 WHERE ID=#{id} and VERSION=#{version}
	</update>

</mapper>